
@{
    ViewBag.Title = "MainCourseList";
    //Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2 class="cursive-font _header_red_clr">NonVeg Main Courses</h2>

            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/NonVegImgs/chickenbir.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">Chicken Biryani</h2>
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/NonVegImgs/muttonbir.jpg" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">Mutton Biryani</h2>
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/NonVegImgs/prawnsbir.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">Prawns Biryani</h2>

                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/NonVegImgs/fishbir.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">Fish Biryani</h2>
                        <h3></h3>
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

