
@{
    ViewBag.Title = "SoupsList";
   // Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2 class="cursive-font _header_red_clr">NonVeg Soups</h2>

            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/NonVegImgs/chickenSoup.jpg" alt="Image" class="img-responsive">
                    </figure>

                    <div class="fh5co-text">
                        <h2 style="color:red">Chicken Soup</h2>
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/NonVegImgs/muttonSoup.jpg" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">Mutton Soup</h2>
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/NonVegImgs/seafoodSoup.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">Shrimp Soup</h2>
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/NonVegImgs/prawnsSoup.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">Prawns Soup</h2>
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

