
@{
    ViewBag.Title = "MainCourseList";
    //Layout = "~/Views/Shared/_MenuLayout1.cshtml";
}

<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2 class="cursive-font _header_red_clr">Veg Main Courses</h2>

            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/VegImgs/vegBir.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">Veg Biryani</h2><br />
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/VegImgs/palakBiryani.jpg" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">Palak Biryani</h2><br />
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/VegImgs/vegPulao.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">Veg Pulao</h2><br />

                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/VegImgs/vegFriedRice.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">Veg Fried Rice</h2>
                        <br />
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

