
@{
    ViewBag.Title = "SoupsList";
    //Layout = "~/Views/Shared/_MenuLayout1.cshtml";
}

<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2 class="cursive-font _header_red_clr">Veg Soups</h2>

            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/VegImgs/Tomato-Soup.jpg" alt="Image" class="img-responsive">
                    </figure>

                    <div class="fh5co-text">
                        <h2 style="color:red">Tomato Soup</h2>
                        <div>
                            <button onclick="window.location.href='/Veg/Track'" type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/VegImgs/sweetcorn_soup.jpg" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">SweetCorn Soup</h2>
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/VegImgs/veg_table_soup.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">Vegetable Soup</h2>
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/VegImgs/potato.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">Potato Soup</h2>
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

