
@{
    ViewBag.Title = "StartersList";
    //Layout = "~/Views/Shared/_MenuLayout1.cshtml";
}

<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2 class="cursive-font _header_red_clr">Veg Starters</h2>

            </div>
        </div>
        <div class="row">

            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/VegImgs/Veggie-Spring-Rolls.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">Spring Roll</h2>
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/VegImgs/gobi-65-recipe-4.jpg" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">Gobi 65</h2>
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/VegImgs/Veg-Cheese-Balls.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red"> Cheese Balls</h2>
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>


                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"></div>
                        <img src="~/assets/VegImgs/Veggie-Cashew-fry.jpg" alt="Image" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">Cashew Fry</h2>
                        <div>
                            <button type="button" class="btn btn-primary additem_button">+</button>
                            <button type="button" class="btn btn-primary additem_button">-</button>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

