
@{
    ViewBag.Title = "AllEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="_service_grover_grocery_content_wrap">
    <div class="row">
        <div class="col-xl-10 col-lg-12 col-md-12 col-sm-12 mx-auto">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="_service_grover_grocery_content_inner">
                        <div class="_service_grover_grocery_content_bg"></div>
                        <div class="_service_grover_grocery_content">
                            <div class="_service_grover_grocery_content_ic">
                                <img src="~/assets/images/FoodEvent3.jpg" alt="Image" class="_service_grover_grocery_content_img">
                            </div>
                            <div class="_service_grover_grocery_content_txt">
                                <h3 class="_service_grover_grocery_content_title">FOOD</h3>
                                <p class="_service_grover_grocery_content_para">Enjoy Order in a hand using the fresness of groceries</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="_service_grover_grocery_content_inner">
                        <div class="_service_grover_grocery_content_bg"></div>
                        <div class="_service_grover_grocery_content">
                            <div class="_service_grover_grocery_content_ic">
                                <img src="~/assets/images/Decors2.jpg" alt="Image" class="_service_grover_grocery_content_img">
                            </div>
                            <div class="_service_grover_grocery_content_txt">
                                <h3 class="_service_grover_grocery_content_title">DECORS</h3>
                                <p class="_service_grover_grocery_content_para">Order in a handy way using the freshness of the groceries.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="_service_grover_grocery_content_inner">
                        <div class="_service_grover_grocery_content_bg"></div>
                        <div class="_service_grover_grocery_content">
                            <div class="_service_grover_grocery_content_ic">
                                <img src="~/assets/images/Event1.jpg" alt="Image" class="_service_grover_grocery_content_img">
                            </div>
                            <div class="_service_grover_grocery_content_txt">
                                <h3 class="_service_grover_grocery_content_title">EVENTS</h3>
                                <p class="_service_grover_grocery_content_para">If you get rotten items - return immediately to us.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@




<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center gtco-heading">
                <h2 class="cursive-font _header_red_clr">Services</h2>

            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-3 col-sm-6">
                <a href="@Url.Action("Menu","Home")" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/assets/images/FoodEvent2.jpg" alt="Image" class="img-responsive">
                    </figure>

                    <div class="fh5co-text">
                        <h2 style="color:red">FOOD</h2>


                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6">
                <a href="@Url.Action("Menu","Home")" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/assets/images/Decors.jpg" class="img-responsive">
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">DECORS</h2>


                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-6">
                <a href="@Url.Action("Menu","Home")" class="fh5co-card-item image-popup">
                    <figure>
                        <div class="overlay"><i class="ti-plus"></i></div>
                        <img src="~/assets/images/Event1.jpg" alt="Image" class="img-responsive">
                        
                    </figure>
                    <div class="fh5co-text">
                        <h2 style="color:red">EVENTS</h2>



                    </div>
                </a>
            </div>
            

        </div>
    </div>
</div>


