
@{
    ViewBag.Title = "BookNow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>

    <title>Login Form</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    


    <link href="~/assets/css/Booknow.css" rel="stylesheet" />

</head>

<body>

    <div class="container-login100">

        <div class="wrap-login100 p-t-50 p-b-90 p-l-50 p-r-50">

            <form class="login100-form flex-sb flex-w" action="" method="post">

                <span class="login100-form-title">

                    <h>Book Reservation</h>

                </span>

                <div class="wrap-input100 m-b-16">

                    <input class="input100" type="email" placeholder="Event Name">

                    <span class="focus-input100"></span>

                </div>

                <div class="wrap-input100 m-b-16">

                    <select class="input100">

                        <option>--Select--</option>

                        <option>Option 1</option>

                        <option>Option 2</option>

                        <option>Option 3</option>

                    </select>

                    <span class="focus-input100"></span>

                </div>

                <div class="wrap-input100 m-b-16">

                    <input class="input100" type="date" placeholder="Date">

                    <span class="focus-input100"></span>

                </div>

                <div class="wrap-input100 m-b-16">

                    <input class="input100" type="time" placeholder="time">

                    <span class="focus-input100"></span>

                </div>

                <div class="container-login100-form-btn m-t-17">

                    <div class="w-full beforeNone text-center">

                        <input type="submit" class="nv-login-submit login100-form-btn" name="Book" value="Book Event">

                    </div>

                </div>

            </form>

        </div>

    </div>

</body>

</html>

