
@{
    ViewBag.Title = "Services";
}

<section class="_service_grover_grocery_wrapper">
    <div class="_service_grover_grocery_wrap">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="_service_grover_grocery_heading">
                        <h1 class="cursive-font _header_red_clr"><i>What we Serve For</i></h1><br /><br />
                        @*<h2 class="_service_grover_grocery_heading_title2">fruit and vegetable delivered to your home</h2>*@

                    </div>
                    <div class="row">

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <a href="@Url.Action("AllEvents","Home")" class="fh5co-card-item image-popup">
                                <figure>
                                    <div class="overlay"><i class="ti-plus"></i></div>

                                    <img src="~/assets/images/bday (2).jpg" alt="Image" class="img-responsive">
                                </figure>
                                <div class="fh5co-text">
                                    <h2 style="color:red">Birthday Event</h2>
                                    <p>It's your special day — get out there and celebrate!!!!!!</p><br />

                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <a href="@Url.Action("AllEvents","Home")"  class="fh5co-card-item image-popup">
                                <figure>
                                    <div class="overlay"><i class="ti-plus"></i></div>
                                    <img src="~/assets/images/wedding.jpg" alt="Image" class="img-responsive">
                                </figure>
                                <div class="fh5co-text">
                                    <h2 style="color:red">Wedding Event</h2>
                                    <p>You don't marry the person you can live with — you marry the person you can't live without...</p>

                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <a href="@Url.Action("AllEvents","Home")"  class="fh5co-card-item image-popup">
                                <figure>
                                    <div class="overlay"><i class="ti-plus"></i></div>
                                    <img src="~/assets/images/Private_Party.jpg" alt="Image" class="img-responsive">
                                </figure>
                                <div class="fh5co-text">
                                    <h2 style="color:red">Private Party</h2>
                                    <p>Hangovers Are Temporary, Drunk Stories are Forever...</p><br />


                                </div>
                            </a>
                        </div>


                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <a href="~/assets/images/img_4.jpg" class="fh5co-card-item image-popup">
                                <figure>
                                    <div class="overlay"><i class="ti-plus"></i></div>
                                    <img src="~/assets/images/success_event_img.jpg" alt="Image" class="img-responsive">
                                </figure>

                                <div class="fh5co-text">
                                    <h2 style="color:red">Success Party</h2>
                                    <p>Work Hard, Party Harder...</p><br />

                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <a href="~/assets/images/img_5.jpg" class="fh5co-card-item image-popup">
                                <figure>
                                    <div class="overlay"><i class="ti-plus"></i></div>
                                    <img src="~/assets/images/cultural_event_img.jpg" alt="Image" class="img-responsive">
                                </figure>
                                <div class="fh5co-text">
                                    <h2 style="color:red">Cultural Event</h2>
                                    <p>The Greatness of The Culture Can Be Found In It's Festivals'..</p>

                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <a href="~/assets/images/img_6.jpg" class="fh5co-card-item image-popup">
                                <figure>
                                    <div class="overlay"><i class="ti-plus"></i></div>
                                    <img src="~/assets/images/corporate_event_img.jpg" alt="Image" class="img-responsive">
                                </figure>
                                <div class="fh5co-text">
                                    <h2 style="color:red">Corporate Event</h2>
                                    <p>We Don't Remember the Days, But Rather The Moments... Cherish!!!</p>

                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

